[Desktop Entry]
Exec=/home/ted/.config/old-autostart-scripts/askpass.sh
Icon=dialog-scripts
Name=askpass.sh
Path=
Type=Application
X-KDE-AutostartScript=true
